@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Bangers", sans-serif;
}

body {
  --sb-track-color: #000;
  --sb-thumb-color: #ffd700;
  --sb-size: 13px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.mainSection {
  flex-grow: 1;
}

.logo {
  height: 80px;
  object-fit: cover;
}

.navbar {
  background-color: #f57c00;
  color: white;
}

.nav-link {
  font-size: 25px;
}
.nav-link:hover {
  background-color: #0d47a1;
  transition: 1s;
}

footer {
  background-color: #0d47a1;
  color: #ffff;
}

.linkApi {
  text-decoration: none;
  color: #f57c00;
}

.linkApi:hover {
  background-color: #ffd700;
  color: #0d47a1;
  transition: 1s;
}

.imgPersonaje {
  height: 250px;
  object-fit: contain;
}

.imgPersonaje:hover {
  transform: scale(1.1);
  transition: 1s;
}

.cardFondo {
  background: none;
  border: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 2;
}

.imgEsfera {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) {
  .mainSection {
    background-image: url(./img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .imgDetail {
    height: 600px;
    object-fit: cover;
  }
}


@media (max-width: 767px) {
  .mainSection {
    background-color: #f5f5f5;
  }
  .imgDetail {
  height: 500px;
  object-fit: cover;
}
.imgTransformation{
  height: 250px;
  object-fit: cover;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardFondo {
    border: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    z-index: 2;
  }

  .imgDetail {
    height: 500px;
    object-fit: cover;
  }

  .imgEsfera {
    width: 230px;
    height: auto;
    display: block;
    margin: 20px 0;
  }
  .imgPersonaje {
    height: 200px;
    object-fit: contain;
  }

  .imgTransformation{
    height: 300px;
  object-fit: cover;
  }
}

@media (min-width: 992px)
{
  .imgTransformation{
  height: 300px;
  object-fit: cover;
}
}

.bgDetailPage {
  background-image: url(./img/Fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bgDetail {
  background-color: #ffffff6c;
}

.bgTransformacion{
  background-color: #ff880056;
}